<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สร้างหมวด และประเภท</title>
</head>

<body>
    <h1>สร้างหมวด และประเภท</h1>
    <form method="post" action="{% url 'taskcontrol:create_type_job' %}" id="createTypeJobForm">
        {% csrf_token %}

        <label for="acc_category">หมวดงาน</label>
        <select name="acc_category" id="acc_category_select" onchange="toggleNewCategoryInput()">
            {% for acc_category in acc_categories %}
            <option value="{{ acc_category.id }}">{{ acc_category.name_th }}</option>
            {% endfor %}
            <option value="create_new">**เพิ่มหมวดใหม่</option>
        </select>
        <input type="text" name="new_acc_category" id="new_acc_category_input" style="display: none;"
            placeholder="New Account Category"><br>

        <label for="t_name_th">ชื่อประเภทงาน (Thai)</label>
        <input type="text" name="t_name_th"><br>

        <label for="t_name_en">ชื่อประเภทงาน (English)</label>
        <input type="text" name="t_name_en"><br>

        <button type="submit">สร้างเอกสาร</button>
    </form>

    <a href="{% url 'taskcontrol:list_type_job' %}">ยกเลิก และย้อนกลับ</a>

    <script>
        function toggleNewCategoryInput() {
            var select = document.getElementById("acc_category_select");
            var newCategoryInput = document.getElementById("new_acc_category_input");
            if (select.value === "create_new") {
                newCategoryInput.style.display = "block";
            } else {
                newCategoryInput.style.display = "none";
            }
        }
    </script>
</body>

</html>