<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แก้ไขหมวด และประเภท</title>
</head>

<body>
    <h1>แก้ไขหมวด และประเภท</h1>
    <form method="post" action="{% url 'taskcontrol:update_type_job' pk=document_type.id %}" id="createTypeJobForm">
        {% csrf_token %}

        <label for="acc_category">หมวดงาน</label>
        <input value="{{ document_type.account_category.name_th }}"><br>

        <label for="t_name_th">ชื่อประเภทงาน (Thai)</label>
        <input value="{{ document_type.name_th }}"><br>

        <label for="t_name_en">ชื่อประเภทงาน (English)</label>
        <input value="{{ document_type.name_en }}"><br>

        <button type="submit">บันทึก</button>
    </form>
    <a href="{% url 'taskcontrol:list_type_job' %}">ยกเลิก และย้อนกลับ</a>
</body>

</html>