{% extends 'task/index.html' %} {% block content %}
{% load humanize %}
<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <div class="row mb-5">
                <div class="col-md-4">
                    <a href="{% url 'taskcontrol:client_list'%}">
                        <button type="button" class="btn btn-outline-dark">
                            <i class="fa-solid fa-circle-chevron-left fa-lg"></i> กลับหน้าข้อมูลลูกค้า
                        </button>
                    </a>
                </div>
                <div class="col-md-8 text-end">
                    <div class="btn-group">
                        <a href="{% url 'taskcontrol:create_contact' client_id=client.id %}" class="btn btn-outline-primary">
                            <i class="fa-solid fa-address-book"></i> ผู้ติดต่อ
                        </a>
                        <a href="{% url 'taskcontrol:create_password' client_id=client.id %}" class="btn btn-outline-primary">
                            <i class="fa-solid fa-lock"></i> รหัสลูกค้า
                        </a>
                        <a href="{% url 'taskcontrol:file_client_create' client_id=client.id %}" class="btn btn-outline-primary">
                            <i class="fa-solid fa-file-circle-plus"></i> แนบไฟล์
                        </a>
                    </div>
                </div>
            </div>
            
            <h4 class="fw-semibold mb-3">ข้อมูลของ {{client.company_name}}
                <span class="badge {% if client.status %}bg-primary{% else %}bg-danger{% endif %}">
                    {% if client.status %}เปิด{% else %}ปิด{% endif %}
                </span>
            </h4>
            <div class="col-md-12">
                <div class="h5 pb-2 mb-4 text-primary fw-semibold border-bottom border-primary text-start">ลูกค้า
                    <a class="text-end" href="{% url 'taskcontrol:client_update' client_id=client.id %}">
                        <i class="fa-solid fa-pen-to-square" style="color: #FFC300;"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><strong>วันที่สร้าง :</strong></p>
                </div>
                <div class="col-md-4">
                    {{ client.create_client_date|date:"d-m-Y" }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><strong>รหัสลูกค้า :</strong></p>
                </div>
                <div class="col-md-4">
                    {{ client.code }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><strong>ชื่อบริษัท :</strong></p>
                </div>
                <div class="col-md-4">
                    {{ client.company_name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><strong>เลขที่นิติ :</strong></p>
                </div>
                <div class="col-md-4">
                    {{ client.tax_id }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><strong>ค่าบริการ :</strong></p>
                </div>
                <div class="col-md-4">
                    {{ client.service_fee|intcomma }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><strong>ช่องทางรู้จักเรา :</strong></p>
                </div>
                <div class="col-md-4">
                    {{ client.channal }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><strong>รายละเอียดเพิ่มเติม :</strong></p>
                </div>
                <div class="col-md-10">
                    {% if client.detail %}{{ client.detail }}{% else %}-{% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <p><strong>ที่อยู่ :</strong></p>
                </div>
                <div class="col-md-10">
                    {{ client.company_address.address }}
                    {{ client.company_address.subdistrict.name_th }}
                    {{ client.company_address.district.name_th }}
                    {{ client.company_address.province.name_th }}
                    {{ client.company_address.subdistrict.zipcode }}
                </div>
            </div>

            <div class="h5 pb-2 mb-4 text-primary fw-semibold border-bottom border-primary">จดทะเบียน</div>
            <div class="row">
                <div class="col-md-3">
                    <p><strong>จดทะเบียนบริษัท :</strong> </p>
                </div>
                <div class="col-md-2">
                    {{ client.register_tax.company }}
                </div>
                <div class="col-md-2">
                    <p><strong>วันที่จด : </strong></p>
                </div>
                <div class="col-md-2">
                    {% if client.register_tax.company_date %}{{ client.register_tax.company_date }}{% else %}-{% endif %}
                </div>
                <div class="col-md-2">
                    <p><strong>รอบบัญชี :</strong></p>
                </div>
                <div class="col-md-1">
                    {{ client.register_tax.company_period_date }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p><strong>จดทะเบียนภาษีมูลค่าเพิ่ม :</strong> </p>
                </div>
                <div class="col-md-2">
                    {{ client.register_tax.vat }}
                </div>
                <div class="col-md-2">
                    <strong>วันที่จด : </strong>
                </div>
                <div class="col-md-5">
                    {% if client.register_tax.vat_date %}{{ client.register_tax.vat_date }}{% else %}-{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p><strong>จดทะเบียนภาษีธุรกิจเฉพาะ :</strong></p>
                </div>
                <div class="col-md-2">
                    {{ client.register_tax.sbt }}
                </div>
                <div class="col-md-2">
                    <strong>วันที่จด : </strong>
                </div>
                <div class="col-md-5">
                    {% if client.register_tax.sbt_date %}{{ client.register_tax.sbt_date }}{% else %}-{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p><strong>จดทะเบียนนายจ้าง :</strong></p>
                </div>
                <div class="col-md-2">
                    {{ client.register_tax.sso }}
                </div>
                <div class="col-md-2">
                    <strong>วันที่จด : </strong>
                </div>
                <div class="col-md-5">
                    {% if client.register_tax.sso_date %}{{ client.register_tax.sso_date }}{% else %}-{% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <p><strong>จดทะเบียนยื่นภาษีออนไลน์ :</strong></p>
                </div>
                <div class="col-md-2">
                    {{ client.register_tax.dbd_e_filling }}
                </div>
                <div class="col-md-2">
                    <strong>วันที่จด : </strong>
                </div>
                <div class="col-md-5">
                    {% if client.register_tax.dbd_e_filling_date %}{{ client.register_tax.dbd_e_filling_date }}{% else %}-{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}