{% extends 'task/index.html' %}
{% block content %}
{% load humanize %}

<div class="row">
    <div class="card w-100">
        <div class="card-body mb-5">
            <h4 class="fw-semibold mb-2">ข้อมูลลูกค้า</h4>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <a href="{% url 'taskcontrol:client_create'%}">
                    <button type="button" class="btn btn-outline-primary">
                        <i class="fa-solid fa-circle-plus"></i> เพิ่มข้อมูลใหม่
                    </button>
                </a>
            </div>
            <div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input filter-checkbox" data-column="4" value="เปิด">
                    <label class="form-check-label form-label">เฉพาะ สถานะ "เปิด"</label>
                </div>
            </div>

            <div class="table-responsive">
                <table id="client_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:30px;">#</th>
                            <th>รหัสลูกค้า</th>
                            <th>ชื่อบริษัท</th>
                            <th>เลขที่นิติ</th>
                            <th style="width:30px;" class="text-center">สถานะ</th>
                            <th>ค่าบริการ</th>
                            <th style="width:50px;" class="text-center"><i class="fa-solid fa-gears"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in clients %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'taskcontrol:client_detail' c.id %}">{{ c.code }}</a></td>
                            <td><a href="{% url 'taskcontrol:client_detail' c.id %}">{{ c.company_name }}</a></td>
                            <td>{{ c.tax_id }}</td>
                            <td class="text-center">
                                <span class="badge {% if c.status %}bg-primary{% else %}bg-danger{% endif %}">
                                    {% if c.status %}เปิด{% else %}ปิด{% endif %}
                                </span>
                            </td>
                            <td>{{ c.service_fee|intcomma }}</td>
                            <td class="text-center">
                                <a href="{% url 'taskcontrol:client_update' client_id=c.id %}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #FFC300;"></i>
                                </a>&nbsp; &nbsp; 
                                <a href="{% url 'taskcontrol:delete_client' client_id=c.id %}" onclick="return confirm('ต้องการลบข้อมูลลูกค้ารายนี้ ?')">
                                    <i class="fa-regular fa-trash-can" style="color: #FF1818;"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var dataTable;

    $(document).ready(function () {
        dataTable = $('#client_table').DataTable({
            "language": {
                "search": "ค้นหา",
                "lengthMenu": "แสดง _MENU_ รายการ",
                "info": "แสดง _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ",
                "infoFiltered": "(กรองจากทั้งหมด _MAX_ รายการ)",
                "paginate": {
                    "previous": "ก่อนหน้า",
                    "next": "ถัดไป"
                }
            }
        });


        $('.filter-checkbox').on('change', function() {
            var columnIndex = $(this).data('column');
            var selectedValues = [];

            $('.filter-checkbox[data-column="' + columnIndex + '"]:checked').each(function() {
                selectedValues.push($(this).val());
            });

            var filterValue = selectedValues.join('|');
            dataTable.column(columnIndex).search(filterValue, true, false).draw();
        });
    });
</script>
{% endblock content %}