{% extends 'task/index.html' %} {% block content %}
<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <div class="row mb-5">
                {% if client %}
                    <div class="col-md-4">
                        <a href="{% url 'taskcontrol:client_detail' client_id=client.id %}">
                            <button type="button" class="btn btn-outline-dark">
                                <i class="fa-solid fa-circle-chevron-left fa-lg"></i> ย้อนกลับ
                            </button>
                        </a>
                    </div>
                {% endif %}
                <div class="col-md-8 text-end">
                    <div class="btn-group">
                        <a href="{% url 'taskcontrol:create_contact' client_id=client.id %}" class="btn btn-outline-primary">
                            <i class="fa-solid fa-address-book"></i> ผู้ติดต่อ
                        </a>
                        <a href="{% url 'taskcontrol:create_password' client_id=client.id %}" class="btn btn-outline-primary">
                            <i class="fa-solid fa-lock"></i> รหัสลูกค้า
                        </a>
                        <a href="{% url 'taskcontrol:file_client_create' client_id=client.id %}" class="btn btn-outline-primary">
                            <i class="fa-solid fa-file-circle-plus"></i> แนบไฟล์
                        </a>
                    </div>
                </div>
            </div>
            <form method="post" action="{% url 'taskcontrol:create_contact' client_id=client.id %}">
                {% csrf_token %}
                <div class="h4 pb-2 mb-4 text-primary fw-semibold border-bottom border-primary">ผู้ติดต่อของ
                    {{ client.company_name }}</div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="" class="form-label fw-semibold">ชื่อ</label>
                        <input type="text" name="ct_name" id="ct_name" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label for="" class="form-label fw-semibold">ตำแหน่ง</label>
                        <input type="text" name="ct_position" id="ct_position" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label for="" class="form-label fw-semibold">เบอร์ติดต่อ</label>
                        <input type="text" name="ct_phone" id="ct_phone" class="form-control"  maxlength="10"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="" class="form-label fw-semibold">อีเมล</label>
                        <input type="text" name="ct_email" id="ct_email" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label for="" class="form-label fw-semibold">ไลน์</label>
                        <input type="text" name="ct_line" id="ct_line" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label for="" class="form-label fw-semibold">ช่องทางติดต่ออื่นๆ</label>
                        <input type="text" name="ct_other" id="ct_other" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="" class="form-label fw-semibold">ที่อยู่&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="checkbox" class="form-check-input" name="ct_address2" id="ct_address2" 
                            value="{{ client.company_address.address }} {{ client.company_address.subdistrict.name_th }} {{ client.company_address.district.name_th }} {{ client.company_address.province.name_th }} {{ client.company_address.subdistrict.zipcode }}" 
                            onchange="copyCompanyAddress()" />
                        <label for="" class="form-label fw-semibold">&nbsp;เหมือนบริษัท</label>
                        <input type="text" class="form-control" name="ct_address" id="ct_address" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <select name="ct_province" id="province2" class="form-select">
                            <option value selected disabled hidden>จังหวัด</option>
                            {% for p in province %}
                            <option value="{{ p.id }}">{{ p.name_th }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="ct_district" id="district2" class="form-select">
                            <option value="" selected disabled hidden>อำเภอ/เขต</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="ct_subdistrict" id="subdistrict2" class="form-select">
                            <option value="" selected disabled hidden>ตำบล/แขวง/รหัสไปรษณีย์</option>
                        </select>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-circle-check"></i> บันทึก</button>
                </div>
                <div class="table-responsive mb-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ชื่อ</th>
                                <th>ตำแหน่ง</th>
                                <th>เบอร์ติดต่อ</th>
                                <th>อีเมล</th>
                                <th>ไลน์</th>
                                <th>อื่นๆ</th>
                                <th>ที่อยู่</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in contacts %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{% if c.name %}{{ c.name }}{% else %}-{% endif %}</td>
                                
                                <td>{% if c.position %}{{ c.position }}{% else %}-{% endif %}</td>
                                <td>{% if c.phone %}{{ c.phone }}{% else %}-{% endif %}</td>
                                <td>{% if c.email %}{{ c.email }}{% else %}-{% endif %}</td>
                                <td>{% if c.line %}{{ c.line }}{% else %}-{% endif %}</td>
                                <td>{% if c.other %}{{ c.other }}{% else %}-{% endif %}</td>
                                <td>
                                    {% if c.address.address %}
                                        {{ c.address.address }}
                                        {{ c.address.subdistrict.name_th }}
                                        {{ c.address.district.name_th }}
                                        {{ c.address.province.name_th }}
                                        {{ c.address.subdistrict.zipcode }}
                                    {% elif c.address.address2 %}
                                        {{ c.address.address2 }}
                                        {{ c.address.subdistrict.name_th }}
                                        {{ c.address.district.name_th }}
                                        {{ c.address.province.name_th }}
                                        {{ c.address.subdistrict.zipcode }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'taskcontrol:delete_contact' contact_id=c.id %}" class="delete-contact" data-contact-id="{{ c.id }}">
                                        <i class="fa-solid fa-circle-xmark fa-lg" style="color: #f64c4c;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#province2').change(function() {
            $("#district2").empty()
            $.ajax({
                url: '{% url 'taskcontrol:GetDistrict' %}',
                data: {province_id: $(this).val()
                },
                success: function(data) {
                    $("#district2").append('<option value selected disabled hidden>อำเภอ/เขต</option>')
                    $.each(data, function(index, value) {
                        $("#district2").append('<option value="' + data[index].id + '">' + data[index].name_th + '</option>')
                    })
                }
            })
        })
        $('#district2').change(function() {
            $('#subdistrict2').empty()
            $.ajax({
                url : '{% url 'taskcontrol:GetSubdistrict' %}',
                data: {district_id: $(this).val()},
                success: function(data) {
                    $('#subdistrict2').append('<option value selected disabled hidden>ตำบล/แขวง/รหัสไปรษณีย์</option>')
                    $.each(data, function(i, v) {
                        $('#subdistrict2').append('<option value="' + data[i].id + '">' + data[i].name_th + ' ' + data[i].zipcode + '</option>');
                    })
                }
            })
        })
    });

    $(document).ready(function() {
        $("#createContactForm").on("submit", function(event) {
            event.preventDefault();
            var name = $("#ct_name").val();
            var position = $("#ct_position").val();
            var phone = $("#ct_phone").val();
            var email = $("#ct_email").val();
            var line = $("#ct_line").val();
            var other = $("#ct_other").val();
            var address = $("#ct_address").val();
            var address2 = $("#ct_address2").val();
            var province = $("#province2").val();
            var district = $("#district2").val();
            var subdistrict = $("#subdistrict2").val();
            var data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: name,
                position: position,
                phone: phone,
                email: email,
                line: line,
                other: other,
                address: address,
                address2: address2,
                province: province,
                district: district,
                subdistrict: subdistrict
            };

            $.ajax({
                type: 'POST',
                url: "{% url 'taskcontrol:create_contact' client_id=client.id %}",
                data: data,
                success: function(response) {
                    console.log(response);
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $(".delete-contact").on("click", function() {
            var contactId = $(this).data("contact-id");
            if (confirm("ต้องการลบผู้ติดต่อรายนี้?")) {
                var createContactUrl = "{% url 'taskcontrol:delete_contact' contact_id=0 %}".replace("0", contactId);

                $.ajax({
                    type: 'POST',
                    url: createContactUrl,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function() {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        });
    });

    function copyCompanyAddress() {
        var checkbox = document.getElementById("ct_address2");
        var addressInput = document.getElementById("ct_address");
        var provinceSelect = document.getElementById("province2");
        var districtSelect = document.getElementById("district2");
        var subdistrictSelect = document.getElementById("subdistrict2");

        if (checkbox.checked) {
            addressInput.value = checkbox.value;
            addressInput.setAttribute("name", "ct_address2");
            provinceSelect.setAttribute("name", "ct_province");
            districtSelect.setAttribute("name", "ct_district");
            subdistrictSelect.setAttribute("name", "ct_subdistrict");

            provinceSelect.disabled = true;
            districtSelect.disabled = true;
            subdistrictSelect.disabled = true;
        } else {
            addressInput.value = "";
            addressInput.setAttribute("name", "ct_address");
            provinceSelect.setAttribute("name", "ct_province");
            districtSelect.setAttribute("name", "ct_district");
            subdistrictSelect.setAttribute("name", "ct_subdistrict");

            provinceSelect.disabled = false;
            districtSelect.disabled = false;
            subdistrictSelect.disabled = false;
        }
    }

</script>
{% endblock content %}