{% extends 'task/index.html' %} {% block content %}

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <div class="col text-end">
                <span class="badge text-bg-light">วันที่ : <span id="currentDate"></span></span>
            </div>
            <div class="h4 pb-2 mb-4 text-primary fw-semibold border-bottom border-primary">สร้าง Engagement</div>
            
            <form method="post" action="{% url 'taskcontrol:engagement_create' %}">
                {% csrf_token %}
                <div class="row mb-3 justify-content-between">
                    <div class="col-md-6">
                        <label for="client" class="form-label fw-semibold">รหัสลูกค้า</label>
                        <select name="client" id="client" class="selectpicker" data-live-search="true">
                            {% for c in clients %}
                                <option value="{{ c.id }}" {% if c.id == selected_client_id %}selected{% endif %}>
                                    {{ c.company_name }} [{{ c.code }}]
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2 text-end">
                        <label for="status" class="form-label fw-semibold">สถานะ</label>
                        <span class="badge text-bg-primary fw-semibold" name="OPENJOB" data-value="OPENJOB">เปิดงาน</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="job_code" class="form-label fw-semibold">รหัส Job <span class="badge text-bg-dark">อัตโนมัติ</span></label>
                            <input type="text" name="job_code" id="job_code_display" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="start_date_service" class="form-label fw-semibold">วันที่เริ่มบริการ</label>
                        <input type="date" id="" name="start_date_service" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="end_date_service" class="form-label fw-semibold">วันที่สิ้นสุดบริการ</label>
                        <input type="date" id="" name="end_date_service" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="start_date_period" class="form-label fw-semibold">รอบที่เริ่มให้บริการ</label>
                        <input type="date" name="start_date_period" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="end_date_period" class="form-label fw-semibold">รอบที่สิ้นสุดให้บริการ</label>
                        <input type="date" name="end_date_period" class="form-control">
                    </div>
                </div>

                <!-- Administrator -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="administrator" class="form-label fw-semibold">ผู้ดูแล</label>
                        <input type="text" class="form-control" value="{{ user.first_name }} {{ user.last_name }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                </div>

                <!-- Reviewer -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="reviewer" class="form-label fw-semibold">ผู้ตรวจทาน</label>
                        <select name="reviewer" class="form-select">
                            <option disabled selected>-- กรุณาเลือก -- </option>
                            {% for reviewer in reviewers %}
                                <option value="{{ reviewer.id }}">{{ reviewer.first_name }} {{ reviewer.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Approver -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="approver" class="form-label fw-semibold">ผู้อนุมัติ</label>
                        <select id="approver" name="approver" class="form-control">
                            <option disabled selected>-- กรุณาเลือก --</option>
                            {% for approver in approvers %}
                                <option value="{{ approver.id }}">{{ approver.first_name }} {{ approver.last_name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
                    <a href="{% url 'taskcontrol:engagement_list' %}" class="btn btn-outline-danger">
                        <i class="fa-solid fa-circle-xmark"></i> ยกเลิก
                    </a>
                    <button type="reset" class="btn btn-light">ล้างข้อมูล</button>
                    <button type="submit" class="btn btn-primary me-md-2"><i class="fa-solid fa-circle-check"></i> บันทึกข้อมูล</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        generateJobCode();
    });

    function generateJobCode() {
        var selectedClientId = $('#client').val(); // รหัสลูกค้าที่เลือก
        $.ajax({
            url: "{% url 'taskcontrol:get_latest_job_code' %}",
            type: 'GET',
            data: {'selected_client_id': selectedClientId}, // ส่งรหัสลูกค้าไปยัง Django View
            success: function(response) {
                var latestJobCode = response.latest_job_code;
                $('#job_code_display').val(latestJobCode); // แสดง job_code ใน input field
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
    }

    // สร้างวัตถุ Date สำหรับวันที่ปัจจุบัน
    var currentDate = new Date();

    // ดึงวันที่, เดือน และปี
    var day = currentDate.getDate();
    var month = currentDate.getMonth() + 1; // เริ่มจาก 0 เพราะฉะนั้นต้องเพิ่ม 1
    var year = currentDate.getFullYear();

    // กำหนดรูปแบบข้อความ "dd-mm-yyyy"
    var formattedDate = (day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + year;

    // แสดงวันที่ใน span ที่มี id="currentDate"
    document.getElementById("currentDate").textContent = formattedDate;
</script>
{% endblock content %}