{% extends 'task/index.html' %}
{% block content %}
<style>
    th{
        font-size: 13.5px;
    }
    tr, td{
        font-size: 13px;
    }

    .badge-done{
        color: #a10f0a;
        font-weight: 500;
        background-color: #ffcfce;
        border-radius: 8px;
        font-size: 12px;
    }

    .badge-open {
        color: #054627;
        font-weight: 500;
        background-color: #d0f4b2;
        border-radius: 8px;
        font-size: 12px;
    }

    .badge-in-progress{
        color: #5b2891;
        font-weight: 500;
        background-color: #ead6ff;
        border-radius: 8px;
        font-size: 12px;
    }

    .badge-review{
        color: #954800;
        font-weight: 500;
        background-color: #fff1c6;
        border-radius: 8px;
        font-size: 12px;
    }

    .badge-pend-client{
        color: #bb4900;
        font-weight: 500;
        background-color: #ffdfbc;
        border-radius: 8px;
        font-size: 12px;
    }

    .job-all{
        color: #294aa9;
        font-size: 12px;
        font-weight: 500;
        background-color: #d7e3ff;
        border-radius: 8px;
    }
    .open-job-all{
        color: #054627;
        font-size: 12px;
        font-weight: 500;
        background-color: #d0f4b2;
        border-radius: 8px;
    }
    .close-job-all{
        color: #a10f0a;
        font-size: 12px;
        font-weight: 500;
        background-color: #ffcfce;
        border-radius: 8px;
    }

</style>
<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <div class="row">
                <div class="col-12 mb-3">
                    <h4 class="text-start fw-semibold">ข้อมูล Engagement</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="text-start">
                        <span class="badge job-all">ทั้งหมด : {{ total_engagements }} รายการ</span>
                        <span class="badge open-job-all">เปิดงาน : {{ open_engagements }} รายการ</span>
                        <span class="badge close-job-all">ปิดงาน : {{ closed_engagements }} รายการ</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <a href="{% url 'taskcontrol:engagement_create' %}" class="btn btn-outline-primary"><i class="fa-solid fa-circle-plus"></i> สร้างใหม่</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="table-responsive">
                    <table id="engagement_table" class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>เลขที่</th>
                                <th>รหัสลูกค้า</th>
                                <th>สถานะ</th>
                                <th>ผู้รับผิดชอบ</th>
                                <th>เริ่มให้บริการ - สิ้นสุด</th>
                                <th>บัญชี</th>
                                <th>ภาษี</th>
                                <th>เงินเดือน</th>
                                <th>รายงาน</th>
                                <th><i class="fa-solid fa-gears"></i></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for engagement in engagements|slice:"0:value" %}
                                <tr data-toggle="collapse" data-target="#demo{{ forloop.counter }}" class="accordion-toggle">
                                    <td><a href="{% url 'taskcontrol:engagement_detail' engagement_id=engagement.id %}" class="fw-semibold">{{ engagement.job_code }}</a></td>
                                    <td>
                                        <span class="fw-semibold">[{{ engagement.client.code }}]</span><br>
                                        <span class="fw-semibold">{{ engagement.client.company_name }}</span><br>
                                        <span style="font-size:11px;">{{ engagement.client.tax_id }}</span>
                                    </td>
                                    <td>
                                        {% if engagement.status == "OPENJOB" %}
                                            <span class="badge badge-open">เปิดงาน</span>
                                        {% elif engagement.status == "IN_PROGRESS" %}
                                            <span class="badge badge-in-progress">กำลังดำเนินงาน</span>
                                        {% elif engagement.status == "REVIEW" %}
                                            <span class="badge badge-review">รอตรวจทาน</span>
                                        {% elif engagement.status == "PENDINGCLIENT" %}
                                            <span class="badge badge-pend-client">รอลูกค้า</span>
                                        {% else %}
                                            <span class="badge badge-done">ปิดงาน</span>
                                        {% endif %}
                                    </td>
                                    
                                    
                                    <td>{{ engagement.administrator.first_name }} {{ engagement.administrator.last_name }}</td>
                                    <td>{{ engagement.start_date_service|date:"d/m/Y" }} - {{ engagement.end_date_service|date:"d/m/Y" }}</td>
                                    <td>
                                        {% for detail in engagement_details %}
                                            {% if detail.engagement == engagement and detail.engagement_category.name_th == 'บัญชี' %}
                                                {{ detail.type }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for detail in engagement_details %}
                                            {% if detail.engagement == engagement and detail.engagement_category.name_th == 'ภาษี' %}
                                                {{ detail.type }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for detail in engagement_details %}
                                            {% if detail.engagement == engagement and detail.engagement_category.name_th == 'เงินเดือน' %}
                                                {{ detail.type }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for detail in engagement_details %}
                                            {% if detail.engagement == engagement and detail.engagement_category.name_th == 'รายงาน' %}
                                                {{ detail.engagement_type.name_th }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'taskcontrol:engagement_delete' engagement_id=engagement.id %}" onclick="return confirm('ต้องการลบข้อมูลลูกค้ารายนี้ ?')">
                                            <i class="fa-regular fa-trash-can" style="color: #FF1818;"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#engagement_table').DataTable({
            responsive: true,
            "language": {
                "search": "ค้นหา",
                "lengthMenu": "แสดง _MENU_ รายการ",
                "info": "แสดง _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ",
                "infoFiltered": "(กรองจากทั้งหมด _MAX_ รายการ)",
                "paginate": {
                    "previous": "ก่อนหน้า",
                    "next": "ถัดไป"
                }
            }
        });
    });
</script>

{% endblock content %}