{% extends 'task/index.html' %}
{% block content %}
<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <div class="row mb-5">
                <div class="col-md-4">
                    <a href="{% url 'taskcontrol:engagement_list'%}">
                        <button type="button" class="btn btn-outline-dark">
                            <i class="fa-solid fa-circle-chevron-left fa-lg"></i> กลับหน้า Engagement
                        </button>
                    </a>
                </div>
                <div class="col-md-8 text-end">
                    <div class="btn-group">
                        <a href="#" class="btn btn-outline-primary">
                            <i class="fa-solid fa-paperclip"></i> ไฟล์
                        </a>
                    </div>
                </div>
            </div>
            <h4 class="fw-semibold mb-3">ข้อมูลของ {{engagement.client.company_name}}
                <span>
                    {% if engagement.status %}<i class="fa-solid fa-circle-check" style="color: #5FD068;"></i>{% else %}<i class="fa-solid fa-circle-xmark" style="color: #ff4d4d;"></i>{% endif %}
                </span>
            </h4>
            <form method="post" action="{% url 'taskcontrol:engagement_update' engagement_id=engagement.id %}">
                {% csrf_token %}
                <div class="h5 pb-2 mb-4 text-warning fw-semibold border-bottom border-warning">แก้ไข Engagement #{{ engagement.job_code }}</div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="client" class="form-label fw-semibold">รหัสลูกค้า</label>
                        <select name="client_id" id="client" class="selectpicker" data-live-search="true">
                            {% for c in clients %}
                                <option value="{{ c.id }}" {% if c.id == engagement.client.id %}selected{% endif %}>
                                    {{ c.code }} {{ c.company_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="content-end">
                            <div class="form-check form-switch">
                                <label for="e_status" class="form-check-label fw-semibold">เปิดงาน</label>
                                <input class="form-check-input" type="checkbox" data-bs-switch id="e_status" name="e_status" checked>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="job_code" class="form-label fw-semibold">รหัส Job</label>
                        <input type="text" name="job_code" class="form-control"  value="{{ engagement.job_code }}" disabled readonly><br>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="start_date_service" class="form-label fw-semibold">วันที่เริ่มบริการ</label>
                        <input type="date" id="" name="start_date_service" class="form-control" value="{% if engagement.start_date_service %}{{ engagement.start_date_service|date:'Y-m-d' }}{% endif %}">
                    </div>
                    <div class="col-md-6">
                        <label for="end_date_service" class="form-label fw-semibold">วันที่สิ้นสุดบริการ</label>
                        <input type="date" id="" name="end_date_service" class="form-control" value="{% if engagement.end_date_service %}{{ engagement.end_date_service|date:'Y-m-d' }}{% endif %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="start_date_period" class="form-label fw-semibold">รอบที่เริ่มให้บริการ</label>
                        <input type="date" name="start_date_period" class="form-control" value="{% if engagement.start_date_period %}{{ engagement.start_date_period|date:'Y-m-d' }}{% endif %}">
                    </div>
                    <div class="col-md-6">
                        <label for="end_date_period" class="form-label fw-semibold">รอบที่สิ้นสุดให้บริการ</label>
                        <input type="date" name="end_date_period" class="form-control" value="{% if engagement.end_date_period %}{{ engagement.end_date_period|date:'Y-m-d' }}{% endif %}">
                    </div>
                </div>

                <!-- Administrator -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="administrator" class="form-label fw-semibold">ผู้ดูแล</label>
                        <input type="text" class="form-control" value="{{ engagement.administrator.first_name }} {{ engagement.administrator.last_name }}" disabled readonly>
                    </div>
                </div>

                <!-- Reviewer -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="reviewer" class="form-label fw-semibold">ผู้ตรวจทาน</label>
                        <select name="reviewer" class="form-select">
                            {% for reviewer in reviewers %}
                                <option value="{{ reviewer.id }}" {% if reviewer.id == engagement.reviewer.id %}selected{% endif %}>
                                    {{ reviewer.first_name }} {{ reviewer.last_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Approver -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="approver" class="form-label fw-semibold">ผู้อนุมัติ</label>
                        <select name="approver" class="form-select">
                            {% for approver in approvers %}
                                <option value="{{ approver.id }}" {% if approver.id == engagement.approver.id %}selected{% endif %}>
                                    {{ approver.first_name }} {{ approver.last_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
                    <button type="submit" class="btn btn-primary me-md-2"><i class="fa-solid fa-circle-check"></i> บันทึกข้อมูล</button>
                    <a href="{% url 'taskcontrol:engagement_list' %}" class="btn btn-outline-danger">
                        <i class="fa-solid fa-circle-xmark"></i> ยกเลิก
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });

    var initialClientId = "{{ engagement.client.id }}" || null;

    var clientDropdown = $('#client_id');

    clientDropdown.append('<option value="" disabled selected>-- กรุณาเลือกลูกค้า --</option>');

    if (initialClientId !== null) {
        clientDropdown.find('option').each(function() {
            var optionValue = $(this).val();

            if (optionValue === initialClientId) {
                $(this).prop('selected', true);
            }
        });

        clientDropdown.selectpicker('refresh');
    }

</script>

{% endblock content %}