{% extends 'task/index.html' %}
{% block content %}
    <style>
        #kanban-board {
            display: inline-flex;
            gap: 10px;
            padding: 5px;
            overflow-x: auto;
            flex-wrap: nowrap;
            align-items: stretch;
            width: 100%; /* ปรับความกว้างให้เต็มหน้าจอ */
        }

        .column {
            flex: 1; /* ทำให้คอลัมน์มีขนาดเท่ากัน */
            border: 1px solid #ebebeb;
            padding: 10px;
            margin: 10px;
            min-width: 200px;
        }

        .engagement {
            border-radius: 0.75rem;
            padding: 11px;
            margin-bottom: 10px;
            margin-top: 10px;
            background-color: #ffffff;
            font-size: 15px;
        }

        .engagement a {
            text-decoration: none;
            margin-right: 10px;
            color: #0085FF;
        }

        .engagement small {
            font-size: 11px;
            color: #393E46;
        }

        .engagement:hover {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }

        .task-header-open {
            background-color: #cbe5ff;
            padding: 1rem;
            margin: 0 -1rem;
            font-size: 15px;
            font-weight: 600;
            color: #0051a0;
            border-radius: 0.75rem;
        }

        .task-header-progress {
            background-color: #ead6ff;
            padding: 1rem;
            margin: 0 -1rem;
            font-size: 15px;
            font-weight: 600;
            color: #5b2891;
            border-radius: 0.75rem;
        }

        .task-header-review {
            background-color: #fff1c6;
            padding: 1rem;
            margin: 0 -1rem;
            font-size: 15px;
            font-weight: 600;
            color: #954800;
            border-radius: 0.75rem;
        }

        .task-header-client {
            background-color: #ffcfce;
            padding: 1rem;
            margin: 0 -1rem;
            font-size: 15px;
            font-weight: 600;
            color: #a10f0a;
            border-radius: 0.75rem;
        }

        .task-header-done {
            background-color: #d0f4b2;
            padding: 1rem;
            margin: 0 -1rem;
            font-size: 15px;
            font-weight: 600;
            color: #054627;
            border-radius: 0.75rem;
        }

        .tasks-open,
        .tasks-progress,
        .tasks-review,
        .tasks-client,
        .tasks-done {
            flex: 1; /* ทำให้คอลัมน์มีขนาดเท่ากัน */
            display: inline-block;
            padding: 0 1rem 1rem 1rem;
            margin-bottom: 1.5rem;
            border-radius: 0.75rem;
            color: #31363E;
        }

        .tasks-open {
            background-color: #cbe5ff;
        }

        .tasks-progress {
            background-color: #ead6ff;
        }

        .tasks-review {
            background-color: #fff1c6;
        }

        .tasks-client {
            background-color: #ffcfce;
        }

        .tasks-done {
            background-color: #d0f4b2;
        }

        .text-body {
            opacity: 1;
            color: rgba(108, 117, 125), 1 !important;
        }
        .dropdown-toggle {
            display: none !important;
        }

        .title {
            font-size: 14px;
            color: #31363E;
        }

        .detail {
            font-size: 12.5px;
            color: #31363E;
        }
        
        .date {
            font-size: 9.5px;
            color: #31363E;
            text-align: start;
            margin-top: 0px;
        }

        .done {
            text-decoration: line-through;
        }

        .badge-danger {
            color: #cb2b2a;
            font-size: 9px;
            font-weight: 600;
            background-color: #ffe0da;
            border-radius: 5px;
            margin-top: 11px;
            padding: 3px;
            text-align: start;
            width: fit-content;
        }
        
        .icon {
            font-size: 18px;
        }

    </style>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-home-tab" href="#" role="tab" aria-controls="pills-home" aria-selected="true">บอร์ด</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" href="{% url 'taskcontrol:search_filter_engagement_details' %}" role="tab" aria-controls="pills-profile" aria-selected="false">ค้นหาจากบอร์ด</a>
                    </li>
                </ul>

                <!--Board All-->
                <div class="tab-content" id="pills-tabContent">
                    <!--Kanban Board-->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="row justify-content-end">
                            <div class="col-2 text-start">
                                <select id="filterStatus" class="form-select" onchange="filterTasks()">
                                    <option value="all">ทั้งหมด</option>
                                    <option value="OPENJOB">เปิดงาน</option>
                                    <option value="IN_PROGRESS">กำลังดำเนินงาน</option>
                                    <option value="REVIEW">รอตรวจทาน</option>
                                    <option value="PENDINGCLIENT">รอลูกค้า</option>
                                    <option value="DONE">เรียบร้อย</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div id="kanban-board" class="mt-3">
                                <div class="tasks-open" id="column-in-progress" data-status="OPENJOB" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <h5 class="task-header-open" id="task-open-header"> เปิดงาน (0)</h5>
                                    {% for engagement in engagements %}
                                        {% if engagement.status == 'OPENJOB' %}
                                            <div class="engagement" draggable="true" ondragstart="drag(event)" id="{{ engagement.id }}">
                                                <input type="hidden" id="newStatusInput_{{ engagement.id }}" name="new_status" value="OPENJOB">
                                                <div class="text-end">
                                                    <i class="fa-solid fa-feather" onclick="openUpdateNotesModal('{{ engagement.id }}', '{{ engagement.job_code }}', '{{ engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF;" onclick="openEngagementModal('{{ engagement.job_code }}')"></i>
                                                </div>
                                                <div class="date text-end">วันที่: {{ engagement.create_at|date:'d/m/Y' }}</div>
                                                <div class="title fw-semibold">{{ engagement.job_code }}</div>
                                                <div class="detail"><i class="fa-regular fa-file-lines"></i> {{ engagement.type.name_th }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-pen"></i> {{ engagement.administrator.first_name }} {{ engagement.administrator.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-clock"></i> {{ engagement.reviewer.first_name }} {{ engagement.reviewer.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-check"></i> {{ engagement.approver.first_name }} {{ engagement.approver.last_name }}</div>
                                                
                                                <div class="badge-danger"><i class="fa-solid fa-clock"></i>
                                                    {% for detail in engagement_details %}
                                                        {% if detail.engagement.id == engagement.id %}
                                                            {{ detail.deadline|date:'d/m/Y' }} |
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="tasks-progress" id="column-in-progress" data-status="IN_PROGRESS" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <h5 class="task-header-progress fw-semibold" id="task-progress-header">กำลังดำเนินงาน (0)</h5>
                                    {% for engagement in engagements %}
                                        {% if engagement.status == 'IN_PROGRESS' %}
                                            <div class="engagement" draggable="true" ondragstart="drag(event)" id="{{ engagement.id }}">
                                                <input type="hidden" id="newStatusInput_{{ engagement.id }}" name="new_status" value="IN_PROGRESS">
                                                
                                                <div class="text-end">
                                                    <i class="fa-solid fa-feather" onclick="openUpdateNotesModal('{{ engagement.id }}', '{{ engagement.job_code }}', '{{ engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF;" onclick="openEngagementModal('{{ engagement.job_code }}')"></i>
                                                </div>
                                                <div class="date text-end">วันที่: {{ engagement.create_at|date:'d/m/Y' }}</div>
                                                <div class="title fw-semibold"> {{ engagement.job_code }}</div>
                                                <div class="detail"><i class="fa-regular fa-file-lines"></i> {{ engagement.type.name_th }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-pen"></i> {{ engagement.administrator.first_name }} {{ engagement.administrator.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-clock"></i> {{ engagement.reviewer.first_name }} {{ engagement.reviewer.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-check"></i> {{ engagement.approver.first_name }} {{ engagement.approver.last_name }}</div>

                                                <div class="badge-danger"><i class="fa-solid fa-clock"></i>
                                                    {% for detail in engagement_details %}
                                                        {% if detail.engagement.id == engagement.id %}
                                                            {{ detail.deadline|date:'d/m/Y' }} |
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="tasks-review" id="column-in-progress" data-status="REVIEW" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <h5 class="task-header-review fw-semibold" id="task-review-header">รอตรวจทาน</h5>
                                    {% for engagement in engagements %}
                                        {% if engagement.status == 'REVIEW' %}
                                            <div class="engagement" draggable="true" ondragstart="drag(event)" id="{{ engagement.id }}">
                                                <input type="hidden" id="newStatusInput_{{ engagement.id }}" name="new_status" value="REVIEW">
                                                <div class="text-end">
                                                    <i class="fa-solid fa-feather" onclick="openUpdateNotesModal('{{ engagement.id }}', '{{ engagement.job_code }}', '{{ engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF;" onclick="openEngagementModal('{{ engagement.job_code }}')"></i>
                                                </div>
                                                <div class="date text-end">วันที่: {{ engagement.create_at|date:'d/m/Y' }}</div>
                                                <div class="title fw-semibold"> {{ engagement.job_code }}</div>
                                                <div class="detail"><i class="fa-regular fa-file-lines"></i> {{ engagement.type.name_th }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-pen"></i> {{ engagement.administrator.first_name }} {{ engagement.administrator.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-clock"></i> {{ engagement.reviewer.first_name }} {{ engagement.reviewer.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-check"></i> {{ engagement.approver.first_name }} {{ engagement.approver.last_name }}</div>
                                                <div class="badge-danger"><i class="fa-solid fa-clock"></i>
                                                    {% for detail in engagement_details %}
                                                        {% if detail.engagement.id == engagement.id %}
                                                            {{ detail.deadline|date:'d/m/Y' }} |
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="tasks-client" id="column-in-progress" data-status="PENDINGCLIENT" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <h5 class="task-header-client fw-semibold" id="task-client-header">รอลูกค้า</h5>
                                    {% for engagement in engagements %}
                                        {% if engagement.status == 'PENDINGCLIENT' %}
                                            <div class="engagement" draggable="true" ondragstart="drag(event)" id="{{ engagement.id }}">
                                                <input type="hidden" id="newStatusInput_{{ engagement.id }}" name="new_status" value="PENDINGCLIENT">
                                                <div class="text-end">
                                                    <i class="fa-solid fa-feather" onclick="openUpdateNotesModal('{{ engagement.id }}', '{{ engagement.job_code }}', '{{ engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF;" onclick="openEngagementModal('{{ engagement.job_code }}')"></i>
                                                </div>
                                                <div class="date text-end">วันที่: {{ engagement.create_at|date:'d/m/Y' }}</div>
                                                <div class="title fw-semibold"> {{ engagement.job_code }}</div>
                                                <div class="detail"><i class="fa-regular fa-file-lines"></i> {{ engagement.type.name_th }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-pen"></i> {{ engagement.administrator.first_name }} {{ engagement.administrator.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-clock"></i> {{ engagement.reviewer.first_name }} {{ engagement.reviewer.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-check"></i> {{ engagement.approver.first_name }} {{ engagement.approver.last_name }}</div>
                                                <div class="badge-danger"><i class="fa-solid fa-clock"></i>
                                                    {% for detail in engagement_details %}
                                                        {% if detail.engagement.id == engagement.id %}
                                                            {{ detail.deadline|date:'d/m/Y' }} |
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="tasks-done" id="column-in-progress" data-status="DONE" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <h5 class="task-header-done fw-semibold" id="task-done-header">เรียบร้อย</h5>
                                    {% for engagement in engagements %}
                                        {% if engagement.status == 'DONE' %}
                                            <div class="engagement" draggable="true" ondragstart="drag(event)" id="{{ engagement.id }}">
                                                <input type="hidden" id="newStatusInput_{{ engagement.id }}" name="new_status" value="DONE">
                                                <div class="text-end">
                                                    <i class="fa-solid fa-feather" onclick="openUpdateNotesModal('{{ engagement.id }}', '{{ engagement.job_code }}', '{{ engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF;" onclick="openEngagementModal('{{ engagement.job_code }}')"></i>
                                                </div>
                                                <div class="date text-end">วันที่: {{ engagement.create_at|date:'d/m/Y' }}</div>
                                                <div class="title done fw-semibold"> {{ engagement.job_code }}</div>
                                                <div class="done detail"><i class="fa-regular fa-file-lines"></i> {{ engagement.type.name_th }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-pen"></i> {{ engagement.administrator.first_name }} {{ engagement.administrator.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-clock"></i> {{ engagement.reviewer.first_name }} {{ engagement.reviewer.last_name }}</div>
                                                <div class="detail"><i class="fa-solid fa-user-check"></i> {{ engagement.approver.first_name }} {{ engagement.approver.last_name }}</div>
                                                <div class="badge-danger"><i class="fa-solid fa-clock"></i>
                                                    {% for detail in engagement_details %}
                                                        {% if detail.engagement.id == engagement.id %}
                                                            {{ detail.deadline|date:'d/m/Y' }} |
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Filter Datatable-->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                        <form id="frmFilterSearch" method="GET" action="{% url 'taskcontrol:search_filter_engagement_details' %}">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <label for="" class="form-label">ผู้ดูแล:</label>
                                    <select name="administrator_id" id="administrator_id" class="form-select">
                                        <option value selected disabled hidden>-- กรุณาเลือก --</option>
                                        {% for admin in administrators %}
                                        <option value="{{ admin.id }}">{{ admin.first_name }} {{ admin.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="" class="form-label">ประเภทงาน :</label>
                                    <select name="type_id" id="type_id" class="form-select">
                                        <option value selected disabled hidden>-- กรุณาเลือก --</option>
                                        {% for t in type %}
                                        <option value="{{ t.id }}">{{ t.name_th }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" name="deadline_days" id="deadline_days" class="form-check-input">
                                    <label for="deadline_days" class="form-label">ใกล้ถึงเดดไลน์</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                            <div class="col">
                                <input type="checkbox" name="per_month" id="per_month" class="form-check-input">
                                <label for="" class="form-label">รอบบัญชี (เดือนปัจจุบัน) </label>
                            </div>
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="submit" id="filterSearchButton" class="btn btn-outline-dark">กรองข้อมูล</button>
                                    <button type="reset" id="filterResetButton" class="btn btn-outline-dark">ล้างข้อมูล</button>
                                </div>
                            </div>
                        </form>

                        <table id="engagementTable" class="table">
                            <thead>
                                <tr>
                                    <th>วันที่เปิดงาน</th>
                                    <th>Engagement</th>
                                    <th>งาน</th>
                                    <th>ผู้ตรวจทาน</th>
                                    <th>ผู้อนุมัติ</th>
                                    <th>ผู้ดูแล</th>
                                    <th>เดดไลน์</th>
                                    <th>สถานะ</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider" id="engagementBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal EngagementDetail-->
    <div class="modal fade" id="engagementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-semibold" id="engagementModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="engagementModalContent">
                    <!-- ข้อมูล Engagement จะถูกแสดงที่นี่ -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for updating engagement notes -->
    <div class="modal fade" id="updateNotesModal" tabindex="-1" role="dialog" aria-labelledby="updateNotesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateNotesModalLabel">หมายเหตุ (เพิ่มเติม) :</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateNotesForm">
                        <input type="hidden" id="engagementId" name="engagement_id" value="">
                        <div class="form-group">
                            <label id="newNotesLabel" for="newNotes">Engagement</label>
                            <textarea class="form-control" id="newNotes" name="new_notes" rows="3">{{ engagements.notes }}</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveUpdatedNotes()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Link เพื่อเรียกใช้งาน Bootstrap JS และ jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <script>

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        function allowDrop(event) {
            event.preventDefault();
        }

        function drag(event) {
            event.dataTransfer.setData("engagementId", event.target.id);
        }

        function getCSRFToken() {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, csrftoken.length + 1) === (csrftoken + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(csrftoken.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function drop(event) {
            event.preventDefault();
            var engagementId = event.dataTransfer.getData("engagementId");
            var newStatus = event.target.getAttribute("data-status");
            var csrftoken = getCookie('csrftoken'); // ดึง CSRF token จาก cookies
            var url = '{% url 'taskcontrol:update_engagement_status' %}';  // Update URL reference
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        console.log('Engagement status updated successfully');
                        location.reload();
                    } else {
                        console.error('Error updating engagement status:', xhr.responseText);
                    }
                }
            };
            xhr.send("engagement_id=" + engagementId + "&new_status=" + newStatus);
        }

        // สร้างฟังก์ชัน JavaScript ที่รับ URL เป็นอาร์กิวเมนต์
        function getEngagementDetailsUrl() {
            return '{% url 'taskcontrol:get_engagement_details' %}';
        }

        function openEngagementModal(jobCode) {
            var engagementDetailsUrl = document.getElementById('engagementModal').getAttribute('data-engagement-details-url');
            $.ajax({
                url: getEngagementDetailsUrl(),  // เรียกใช้ฟังก์ชันเพื่อรับ URL
                method: 'GET',
                data: { job_code: jobCode },
                success: function(response) {
                    $('#engagementModalLabel').html('รายละเอียด Engagement #' + jobCode);
                    $('#engagementModalContent').html(response.modal_content);
                    $('#engagementModal').modal('show');
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching engagement details:', error);
                    // แสดงข้อความแจ้งเตือนหรือประกาศข้อผิดพลาดเมื่อเกิดข้อผิดพลาด
                }
            });
        }

        // JavaScript function to open update notes modal
        function openUpdateNotesModal(engagementId, jobCode, notes) {
            // Set engagement ID to the hidden input field in the modal form
            document.getElementById('engagementId').value = engagementId;
            // Set job code in the label
            document.getElementById('newNotesLabel').textContent = "Engagement # " + jobCode;
            // Set notes in the textarea
            document.getElementById('newNotes').value = notes;
            // Show the modal
            $('#updateNotesModal').modal('show');
        }

        function saveUpdatedNotes() {
            var newNotes = document.getElementById('newNotes').value;
            var engagementId = document.getElementById('engagementId').value;

            if (!newNotes || !engagementId) {
                alert("Please fill in all fields");
                return;
            }

            // Send data to the server to update engagement notes
            $.ajax({
                    url: "{% url 'taskcontrol:update_engagement_notes' %}",
                    type: 'POST',
                    data: {
                        engagement_id: engagementId,
                        new_notes: newNotes,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                    // Close the modal after successful update
                    $('#updateNotesModal').modal('hide');
                    // Reload the page to reflect the changes
                    location.reload();
                },
                    error: function (xhr, status, error) {
                    alert("Error updating engagement notes: " + xhr.responseText);
                }
            });
        }

        function updateTaskCount() {
            const openCount = document.querySelectorAll("#column-in-progress[data-status='OPENJOB'] .engagement").length;
            const progressCount = document.querySelectorAll("#column-in-progress[data-status='IN_PROGRESS'] .engagement").length;
            const reviewCount = document.querySelectorAll("#column-in-progress[data-status='REVIEW'] .engagement").length;
            const clientCount = document.querySelectorAll("#column-in-progress[data-status='PENDINGCLIENT'] .engagement").length;
            const doneCount = document.querySelectorAll("#column-in-progress[data-status='DONE'] .engagement").length;

            document.getElementById("task-open-header").innerHTML = `<i class="fa-solid fa-circle"></i> เปิดงาน (${openCount})`;
            document.getElementById("task-progress-header").innerHTML = `<i class="fa-solid fa-spinner"></i> กำลังดำเนินงาน (${progressCount})`;
            document.getElementById("task-review-header").innerHTML = `<i class="fa-solid fa-user-clock"></i> รอตรวจทาน (${reviewCount})`;
            document.getElementById("task-client-header").innerHTML = `<i class="fa-solid fa-clock"></i> รอลูกค้า (${clientCount})`;
            document.getElementById("task-done-header").innerHTML = `<i class="fa-solid fa-circle-check"></i> เรียบร้อย (${doneCount})`;
        }

        window.addEventListener('DOMContentLoaded', () => {
            updateTaskCount();
        });

        //Filter Status
        document.getElementById("filterStatus").addEventListener("change", filterTasks);

        function filterTasks() {
            var selectedStatus = document.getElementById("filterStatus").value;
            var tasks = document.querySelectorAll(".engagement");

            tasks.forEach(function(task) {
                var taskStatus = task.parentElement.dataset.status;

                if (selectedStatus === "all" || taskStatus === selectedStatus) {
                    task.style.display = "block";
                } else {
                    task.style.display = "none";
                }
            });
        }

        // Function to handle AJAX requests
        function handleAJAXRequest(url, method, data, successCallback, errorCallback) {
            $.ajax({
                url: url,
                type: method,
                data: data,
                success: successCallback,
                error: errorCallback
            });
        }

        // Function to handle appending rows to the table
        function appendTableRow(data) {
            var row = '<tr>' +
                '<td>' + data.create_at + '</td>' +
                '<td>' + data.job_code + '</td>' +
                '<td>' + data.type_name_th + '</td>' +
                '<td>' + data.reviewer + '</td>' +
                '<td>' + data.approver + '</td>' +
                '<td>' + data.administrator + '</td>' +
                '<td>' + data.deadline + '</td>' +
                '<td>' + data.status + '</td>' +
                '</tr>';
            $('#engagementBody').append(row);
        }

        $(document).ready(function(){
            $('#filterSearchButton').click(function(){
                var data = $('#frmFilterSearch').serialize(); // Serialize form data

                // AJAX request to load data
                $.ajax({
                    url: '{% url "taskcontrol:get_filter_engagement_details" %}',
                    type: 'GET',
                    data: data,
                    success: function(response) {
                        $('#engagementBody').empty(); // Clear existing data
                        $.each(response, function(index, item) {
                            appendTableRow(item);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            $('#filterResetButton').click(function() {
                $('#frmFilterSearch')[0].reset();
            });
        });




    </script>
{% endblock content %}