{% extends 'task/index.html' %}
{% block content %}
<style>
    #kanban-board {
        display: inline-flex;
        gap: 10px;
        padding: 5px;
        overflow-x: auto;
        flex-wrap: nowrap;
        align-items: stretch;
        width: 100%; /* ปรับความกว้างให้เต็มหน้าจอ */
    }

    .column {
        flex: 1; /* ทำให้คอลัมน์มีขนาดเท่ากัน */
        border: 1px solid #ebebeb;
        padding: 10px;
        margin: 10px;
        min-width: 200px;
    }

    .engagement-detail {
        border-radius: 0.75rem;
        padding: 11px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: #ffffff;
        font-size: 15px;
    }

    .engagement-detail a {
        text-decoration: none;
        margin-right: 10px;
        color: #0085FF;
    }

    .engagement-detail small {
        font-size: 11px;
        color: #393E46;
    }

    .engagement-detail:hover {
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 2px inset, rgba(18, 149, 255, 0.9) 0px 0px 0px 2px;
    }

    .task-header-open {
        background-color: #cbe5ff;
        padding: 1rem;
        margin: 0 -1rem;
        font-size: 15px;
        font-weight: 600;
        color: #0051a0;
        border-radius: 0.75rem;
    }

    .task-header-progress {
        background-color: #ead6ff;
        padding: 1rem;
        margin: 0 -1rem;
        font-size: 15px;
        font-weight: 600;
        color: #5b2891;
        border-radius: 0.75rem;
    }

    .task-header-review {
        background-color: #fff1c6;
        padding: 1rem;
        margin: 0 -1rem;
        font-size: 15px;
        font-weight: 600;
        color: #954800;
        border-radius: 0.75rem;
    }

    .task-header-client {
        background-color: #ffcfce;
        padding: 1rem;
        margin: 0 -1rem;
        font-size: 15px;
        font-weight: 600;
        color: #a10f0a;
        border-radius: 0.75rem;
    }

    .task-header-done {
        background-color: #d0f4b2;
        padding: 1rem;
        margin: 0 -1rem;
        font-size: 15px;
        font-weight: 600;
        color: #054627;
        border-radius: 0.75rem;
    }

    .tasks-open,
    .tasks-progress,
    .tasks-review,
    .tasks-client,
    .tasks-done {
        flex: 1; /* ทำให้คอลัมน์มีขนาดเท่ากัน */
        display: inline-block;
        padding: 0 1rem 1rem 1rem;
        margin-bottom: 1.5rem;
        border-radius: 0.75rem;
        color: #31363E;
    }

    .tasks-open {
        background-color: #cbe5ff;
    }

    .tasks-progress {
        background-color: #ead6ff;
    }

    .tasks-review {
        background-color: #fff1c6;
    }

    .tasks-client {
        background-color: #ffcfce;
    }

    .tasks-done {
        background-color: #d0f4b2;
    }

    .text-body {
        opacity: 1;
        color: rgba(108, 117, 125), 1 !important;
    }
    .dropdown-toggle {
        display: none !important;
    }

    .title {
        font-size: 14px;
        color: #31363E;
    }

    .sub-title {
        font-size: 13px;
        color: #31363E;
    }

    .detail {
        font-size: 12px;
        color: #31363E;
    }
    
    .date {
        font-size: 9px;
        color: #31363E;
        margin-top: 0px;
    }

    .done {
        text-decoration: line-through;
    }

    .badge-danger {
        color: #cb2b2a;
        font-size: 9px;
        font-weight: 600;
        background-color: #ffe0da;
        border-radius: 3px;
        margin-top: 11px;
        padding: 3px;
        width: fit-content;
    }
    
    .icon {
        font-size: 18px;
    }

</style>

<div class="row">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" href="#" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fa-solid fa-table-columns"></i> Boards</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" href="{% url 'taskcontrol:search_filter_engagement_details' %}" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fa-solid fa-list"></i> Lists</a>
                </li>
            </ul>

            <div id="options">
                <select class="option-set" data-group="type">
                    <option value="*">show all</option>
                    <option value=".brand1" /> brand1</option>
                    <option value=".brand2" /> brand2</optoin>
                    <option value=".brand3" /> brand3</option>
                    <option value=".brand4" /> brand4</option>
                </select>
                <select class="option-set" data-group="admin">
                    <option value="*">show all</option>
                    <option value=".alpha" /> alpha</option>
                    <option value=".beta" /> beta</option>
                    <option value=".gamma" /> gamma</option>
                    <option value=".delta" /> delta</option>
                </select>

                <div class="option-set" data-group="deadline">
                    <label><input type="checkbox" value=".near-deadline" /> ใกล้เดดไลน์</label>
                </div>
                <div class="option-set" data-group="period">
                    <label><input type="checkbox" value=".period" /> Period</label>
                </div>
            </div>

            <!--Board All-->
            <div class="tab-content" id="pills-tabContent">
                <!--Kanban Board-->
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                    <div class="row justify-content-end">
                        <div class="col-2 text-start">
                            <select id="filterStatus" class="form-select" onchange="filterTasks()">
                                <option value="all">ทั้งหมด</option>
                                <option value="OPEN_JOB">เปิดงาน</option>
                                <option value="IN_PROGRESS">กำลังดำเนินงาน</option>
                                <option value="REVIEW">รอตรวจทาน</option>
                                <option value="PENDING_CLIENT">รอลูกค้า</option>
                                <option value="DONE">เรียบร้อย</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div id="kanban-board" class="mt-3">
                            <div class="tasks-open" id="column-in-progress" data-status="OPEN_JOB" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <h5 class="task-header-open" id="task-open-header"> เปิดงาน (0)</h5>
                                {% for engagement_detail in engagement_details %}
                                    {% if engagement_detail.engagement.status == 'OPEN_JOB' %}
                                        <div class="engagement-detail" draggable="true" ondragstart="drag(event)" id="{{ engagement_detail.id }}">
                                            <input type="hidden" id="newStatusInput_{{ engagement_detail.id }}" name="new_status" value="OPEN_JOB">
                                            <div class="row">
                                                <div class="col-8 text-start">
                                                    <div class="title fw-semibold text-start">{{ engagement_detail.engagement.client.company_name }}</div>
                                                    <div class="sub-title fw-semibold text-start">{{ engagement_detail.engagement.job_code }}</div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <i class="fa-solid fa-ellipsis-vertical" onclick="openUpdateNotesModal('{{ engagement_detail.id }}', '{{ engagement_detail.engagement.job_code }}', '{{ engagement_detail.engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF; cursor: pointer;" onclick="openEngagementModal('{{ engagement_detail.engagement.job_code }}')"></i>
                                                </div>
                                            </div>
                                            <div class="date text-end">วันที่: {{ engagement_detail.engagement.create_at|date:'d/m/Y' }}</div>
                                            <div class="detail"><i class="fi fi-sr-thumbtack"></i> {{ engagement_detail.engagement.type.name_th }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#5d87ff;"></i> {{ engagement_detail.engagement.administrator.first_name }} {{ engagement_detail.engagement.administrator.last_name }}</div>
                                            <div class="detail"><i class="fi fi-br-marker-time" style="color:#ffc107;"></i> {{ engagement_detail.engagement.reviewer.first_name }} {{ engagement_detail.engagement.reviewer.last_name }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#53c536;"></i> {{ engagement_detail.engagement.approver.first_name }} {{ engagement_detail.engagement.approver.last_name }}</div>
                                            <div class="badge-danger">เดดไลน์ : {{ engagement_detail.deadline|date:'d/m/Y' }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="tasks-progress" id="column-in-progress" data-status="IN_PROGRESS" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <h5 class="task-header-progress fw-semibold" id="task-progress-header">กำลังดำเนินงาน (0)</h5>
                                {% for engagement_detail in engagement_details %}
                                    {% if engagement_detail.engagement.status == 'IN_PROGRESS' %}
                                        <div class="engagement-detail" draggable="true" ondragstart="drag(event)" id="{{ engagement_detail.id }}">
                                            <input type="hidden" id="newStatusInput_{{ engagement_detail.id }}" name="new_status" value="IN_PROGRESS">
                                            <div class="row">
                                                <div class="col-8 text-start">
                                                    <div class="title fw-semibold text-start">{{ engagement_detail.engagement.client.company_name }}</div>
                                                    <div class="sub-title fw-semibold text-start">{{ engagement_detail.engagement.job_code }}</div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <i class="fa-solid fa-ellipsis-vertical" onclick="openUpdateNotesModal('{{ engagement_detail.id }}', '{{ engagement_detail.engagement.job_code }}', '{{ engagement_detail.engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF; cursor: pointer;" onclick="openEngagementModal('{{ engagement_detail.engagement.job_code }}')"></i>
                                                </div>
                                            </div>
                                            <div class="date text-end">วันที่: {{ engagement_detail.engagement.create_at|date:'d/m/Y' }}</div>
                                            <div class="detail"><i class="fi fi-sr-thumbtack"></i> {{ engagement_detail.engagement.type.name_th }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#5d87ff;"></i> {{ engagement_detail.engagement.administrator.first_name }} {{ engagement_detail.engagement.administrator.last_name }}</div>
                                            <div class="detail"><i class="fi fi-br-marker-time" style="color:#ffc107;"></i> {{ engagement_detail.engagement.reviewer.first_name }} {{ engagement_detail.engagement.reviewer.last_name }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#53c536;"></i> {{ engagement_detail.engagement.approver.first_name }} {{ engagement_detail.engagement.approver.last_name }}</div>
                                            <div class="badge-danger">เดดไลน์ : {{ engagement_detail.deadline|date:'d/m/Y' }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="tasks-review" id="column-in-progress" data-status="REVIEW" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <h5 class="task-header-review fw-semibold" id="task-review-header">รอตรวจทาน (0)</h5>
                                {% for engagement_detail in engagement_details %}
                                    {% if engagement_detail.engagement.status == 'REVIEW' %}
                                        <div class="engagement-detail" draggable="true" ondragstart="drag(event)" id="{{ engagement_detail.id }}">
                                            <input type="hidden" id="newStatusInput_{{ engagement_detail.id }}" name="new_status" value="REVIEW">
                                            <div class="row">
                                                <div class="col-8 text-start">
                                                    <div class="title fw-semibold text-start">{{ engagement_detail.engagement.client.company_name }}</div>
                                                    <div class="sub-title fw-semibold text-start">{{ engagement_detail.engagement.job_code }}</div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <i class="fa-solid fa-ellipsis-vertical" onclick="openUpdateNotesModal('{{ engagement_detail.id }}', '{{ engagement_detail.engagement.job_code }}', '{{ engagement_detail.engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF; cursor: pointer;" onclick="openEngagementModal('{{ engagement_detail.engagement.job_code }}')"></i>
                                                </div>
                                            </div>
                                            <div class="date text-end">วันที่: {{ engagement_detail.engagement.create_at|date:'d/m/Y' }}</div>
                                            <div class="detail"><i class="fi fi-sr-thumbtack"></i> {{ engagement_detail.engagement.type.name_th }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#5d87ff;"></i> {{ engagement_detail.engagement.administrator.first_name }} {{ engagement_detail.engagement.administrator.last_name }}</div>
                                            <div class="detail"><i class="fi fi-br-marker-time" style="color:#ffc107;"></i> {{ engagement_detail.engagement.reviewer.first_name }} {{ engagement_detail.engagement.reviewer.last_name }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#53c536;"></i> {{ engagement_detail.engagement.approver.first_name }} {{ engagement_detail.engagement.approver.last_name }}</div>
                                            <div class="badge-danger">เดดไลน์ : {{ engagement_detail.deadline|date:'d/m/Y' }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="tasks-client" id="column-in-progress" data-status="PENDING_CLIENT" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <h5 class="task-header-client fw-semibold" id="task-client-header">รอลูกค้า</h5>
                                {% for engagement_detail in engagement_details %}
                                    {% if engagement_detail.engagement.status == 'PENDING_CLIENT' %}
                                        <div class="engagement-detail" draggable="true" ondragstart="drag(event)" id="{{ engagement_detail.id }}">
                                            <input type="hidden" id="newStatusInput_{{ engagement_detail.id }}" name="new_status" value="PENDING_CLIENT">
                                            <div class="row">
                                                <div class="col-8 text-start">
                                                    <div class="title fw-semibold text-start">{{ engagement_detail.engagement.client.company_name }}</div>
                                                    <div class="sub-title fw-semibold text-start">{{ engagement_detail.engagement.job_code }}</div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <i class="fa-solid fa-ellipsis-vertical" onclick="openUpdateNotesModal('{{ engagement_detail.id }}', '{{ engagement_detail.engagement.job_code }}', '{{ engagement_detail.engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF; cursor: pointer;" onclick="openEngagementModal('{{ engagement_detail.engagement.job_code }}')"></i>
                                                </div>
                                            </div>
                                            <div class="date text-end">วันที่: {{ engagement_detail.engagement.create_at|date:'d/m/Y' }}</div>
                                            <div class="detail"><i class="fi fi-sr-thumbtack"></i> {{ engagement_detail.engagement.type.name_th }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#5d87ff;"></i> {{ engagement_detail.engagement.administrator.first_name }} {{ engagement_detail.engagement.administrator.last_name }}</div>
                                            <div class="detail"><i class="fi fi-br-marker-time" style="color:#ffc107;"></i> {{ engagement_detail.engagement.reviewer.first_name }} {{ engagement_detail.engagement.reviewer.last_name }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#53c536;"></i> {{ engagement_detail.engagement.approver.first_name }} {{ engagement_detail.engagement.approver.last_name }}</div>
                                            <div class="badge-danger">เดดไลน์ : {{ engagement_detail.deadline|date:'d/m/Y' }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="tasks-done" id="column-in-progress" data-status="DONE" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <h5 class="task-header-done fw-semibold" id="task-done-header">เรียบร้อย</h5>
                                {% for engagement_detail in engagement_details %}
                                    {% if engagement_detail.engagement.status == 'DONE' %}
                                        <div class="engagement-detail" draggable="true" ondragstart="drag(event)" id="{{ engagement_detail.id }}">
                                            <input type="hidden" id="newStatusInput_{{ engagement_detail.id }}" name="new_status" value="DONE">
                                            <div class="row">
                                                <div class="col-8 text-start">
                                                    <div class="title fw-semibold text-start">{{ engagement_detail.engagement.client.company_name }}</div>
                                                    <div class="sub-title fw-semibold text-start">{{ engagement_detail.engagement.job_code }}</div>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <i class="fa-solid fa-ellipsis-vertical" onclick="openUpdateNotesModal('{{ engagement_detail.id }}', '{{ engagement_detail.engagement.job_code }}', '{{ engagement_detail.engagement.notes }}')"></i>
                                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:#0085FF; cursor: pointer;" onclick="openEngagementModal('{{ engagement_detail.engagement.job_code }}')"></i>
                                                </div>
                                            </div>
                                            <div class="date text-end">วันที่: {{ engagement_detail.engagement.create_at|date:'d/m/Y' }}</div>
                                            <div class="detail"><i class="fi fi-sr-thumbtack"></i> {{ engagement_detail.engagement.type.name_th }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#5d87ff;"></i> {{ engagement_detail.engagement.administrator.first_name }} {{ engagement_detail.engagement.administrator.last_name }}</div>
                                            <div class="detail"><i class="fi fi-br-marker-time" style="color:#ffc107;"></i> {{ engagement_detail.engagement.reviewer.first_name }} {{ engagement_detail.engagement.reviewer.last_name }}</div>
                                            <div class="detail"><i class="fi fi-sr-map-marker-check" style="color:#53c536;"></i> {{ engagement_detail.engagement.approver.first_name }} {{ engagement_detail.engagement.approver.last_name }}</div>
                                            <div class="badge-danger">เดดไลน์ : {{ engagement_detail.deadline|date:'d/m/Y' }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!--Filter Datatable-->
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <form id="frmFilterSearch" method="GET" action="{% url 'taskcontrol:search_filter_engagement_details' %}">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="" class="form-label">ผู้ดูแล:</label>
                                <select name="administrator_id" id="administrator_id" class="form-select">
                                    <option value selected disabled hidden>-- กรุณาเลือก --</option>
                                    {% for admin in administrators %}
                                    <option value="{{ admin.id }}">{{ admin.first_name }} {{ admin.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="" class="form-label">ประเภทงาน :</label>
                                <select name="type_id" id="type_id" class="form-select">
                                    <option value selected disabled hidden>-- กรุณาเลือก --</option>
                                    {% for t in type %}
                                    <option value="{{ t.id }}">{{ t.name_th }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="checkbox" name="deadline_days" id="deadline_days" class="form-check-input">
                                <label for="deadline_days" class="form-label">ใกล้ถึงเดดไลน์</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                        <div class="col">
                            <input type="checkbox" name="per_month" id="per_month" class="form-check-input">
                            <label for="" class="form-label">รอบบัญชี (เดือนปัจจุบัน) </label>
                        </div>
                        </div>
                        <div class="row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" id="filterSearchButton" class="btn btn-outline-dark">กรองข้อมูล</button>
                                <button type="reset" id="filterResetButton" class="btn btn-outline-dark">ล้างข้อมูล</button>
                            </div>
                        </div>
                    </form>

                    <table id="engagementTable" class="table">
                        <thead>
                            <tr>
                                <th>วันที่เปิดงาน</th>
                                <th>Engagement</th>
                                <th>งาน</th>
                                <th>ผู้ตรวจทาน</th>
                                <th>ผู้อนุมัติ</th>
                                <th>ผู้ดูแล</th>
                                <th>เดดไลน์</th>
                                <th>สถานะ</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider" id="engagementBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function allowDrop(event) {
        event.preventDefault();
    }

    function drag(event) {
        event.dataTransfer.setData("engagementId", event.target.id);
    }

    function getCSRFToken() {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, csrftoken.length + 1) === (csrftoken + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(csrftoken.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function drop(event) {
        event.preventDefault();
        var engagementdetailId = event.dataTransfer.getData("engagementdetailId");
        var newStatus = event.target.getAttribute("data-status");
        var csrftoken = getCookie('csrftoken'); // ดึง CSRF token จาก cookies
        var url = '{% url 'taskcontrol:update_engagement_detail_status' %}';  // Update URL reference
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log('อัปเดตสถานะเรียบร้อยแล้ว');
                    location.reload();
                } else {
                    console.error('เกิดข้อผิดพลาดในการอัปเดตสถานะ:', xhr.responseText);
                }
            }
        };
        xhr.send("engagement_detail_id=" + engagementdetailId + "&new_status=" + newStatus);
    }
</script>


{% endblock content %}



<div class="modal fade" id="engagementModal" tabindex="-1" role="dialog" aria-labelledby="engagementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-3" id="engagementModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="engagementModalContent">
                <!-- Dynamic content will be inserted here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for updating engagement notes -->
<div class="modal fade" id="updateNotesModal" tabindex="-1" role="dialog" aria-labelledby="updateNotesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateNotesModalLabel">หมายเหตุ (เพิ่มเติม) :</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateNotesForm">
                    <input type="hidden" id="engagementId" name="engagement_id" value="">
                    <div class="form-group">
                        <label id="newNotesLabel" for="newNotes">Engagement</label>
                        <textarea class="form-control" id="newNotes" name="new_notes" rows="3">{{ engagements.notes }}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveUpdatedNotes()">บันทึก</button>
            </div>
        </div>
    </div>
</div>